.compose-tweet {
  width: 100%;
  
}

.tweet-box{
  width: 96.5%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tweet-box .avatar{
  position: sticky;
  align-self: flex-start;
}


.tweet-input {
  background-color: #15202B;
  min-width: 0;
  border: none;
  width: 564px; height: 32px;
  resize: none;
  width: 100%;
  flex: 1;
  color: lightslategray;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.__filled {
  color: white
}
.tweet-submit-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.tweet-submit-image-icon {
  margin-top: 1%;
  margin-left: 10%;
}

.tweet-submit-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.character-counter{
  font-size: 1em;
 margin-right: 2em;
}

.__limit-reached{
  color: red;
}