.header{
  text-align: left;
  padding-top: 3%;
  padding-left: 3%;
  
  border-bottom: 1px solid lightslategray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #15202B;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 55px;
}

.header h2{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.subheader{
  font-size: 15px;
  float: bottom;
  color: lightslategray;
 
  
}
.fa-layers.back-button{
padding-top: 3%;
padding-left: 2%;
margin-right: 5%;
cursor: pointer;
}

.back-circle-icon{
  opacity: 0%;
}
.fa-layers.back-button:hover > .back-circle-icon{
  opacity: 100%;
  transition: all 0.2s;
}
