span.logo{
  font-family: "Bungee", cursive;
  font-size: 2em;
  color: white;

}

nav {
  width: 30%;
  order: 1;

}

nav .fa-ul{
  list-style: none;
  text-align: left;
  padding-left: 60%;
}

nav ul li {
  text-decoration: none;
  font-weight: 500;
  margin-top: 20%;
  font-size: 1.5em;
}

nav ul li span{
  padding-left: 10%;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav ul a.__selected{
  color: #1da1f2;
}

.navbar-avatar{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
 
}

.modal__footer.tweet__modal-footer-navbar .tweet-submit-options{
  padding-top: 10%;
}

.modal__content.tweet__modal-content-navbar{
  display:none;
}