.profile-header{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 5%;
  
}

.profile-header .profile-text-content .creator-details{
  font-size: 1.5em;
  padding-top: 1%;
  padding-bottom: 0%;
}
.profile-interactables{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2%;
  margin-right: 2%;
}
.profile-avatar{
  border-radius: 50%;
  border: 5px solid black;
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  margin-right: 2%;
  position: absolute;
  left: 15px;
  bottom: -25%;
  z-index: 2;
}

.profile-text-content .creator-name{
  font-size: 1.5em;
}

.profile-text-content{
  text-align: left;
}

.profile-banner{
  display: inline-block;
  width: 100%;
}



.profile-images{
  position: relative;

}

.profile-text-content .bio{
  margin-top: 1%;
  margin-bottom: 1%;
}

.profile-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
  color: lightslategray;
  margin-top: 2%;
  align-items: flex-start;
}

.profile-details div{
  padding-right: 2%;
}

.profile-icon{
  padding-right: 5px;
}

.profile-follows-you{
  font-size: 14px;
  margin-left: 1%;
  background-color: #253341;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}