.tweet-container{
  border-bottom: 1px solid lightslategray;
  padding: 15px 15px 0px 15px;
  text-align: left;
  
}



.creator-name{
 padding-right: 1%;
 padding-bottom: 1%;
}

.creator-handle{
  color:lightslategray;
}

.avatar {
  
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  margin-right: 2%;
}

.tweet-author{
  height: 100%;
  width: 10%;
}

.tweet-text{
  width: 92%;
  margin-left: 2%;
}

.tweet-content{
  
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
}

.time-tweeted{
  color:lightslategray;
}

.tweet-interaction-icons{
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
}