.tweet-container{
  border-bottom: 1px solid lightslategray;
  padding: 15px 15px 20px 15px;
  text-align: left;
  cursor: pointer;
}
.tweet-container.__replied{
 border-bottom: none;
}
.tweet-container:hover{
  background-color: #253341;
  transition: all 0.2s;
}


.creator-details{
 padding-right: 1%;
 padding-bottom: 1%;
}

.creator-handle{
  color:lightslategray;
}

.avatar {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  margin-right: 2%;
  transition: all .2s;
}

.avatar:hover{
  opacity: 0.7;
}

.tweet-author{
  height: 100%;
  width: 10%;
}

.tweet-text{
  width: 92%;
  margin-left: 2%;
}

.tweet-content{
  
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100px;
  margin-bottom: 20px;
}

.time-tweeted{
  color:lightslategray;
}

.tweet-interaction-icons{
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
}


.fa-layers.heart-button.__clicked > .heart-icon{
  color: rgb(224, 36, 94);
}
.fa-layers.retweet-button.__clicked > .retweet-icon{
  color: rgb(23, 191, 99);
}
.fa-layers.reply-button:hover > .reply-icon{
  color: #1da1f2;
  transition: all 0.2s;
}

.fa-layers.reply-button:hover > .reply-circle-icon{
  opacity: 100%;
  transition: all 0.2s;
}

.reply-circle-icon{
  opacity: 0%;
}

.fa-layers.retweet-button:hover > .retweet-icon{
  color: rgb(23, 191, 99);
  transition: all 0.2s;
}

.fa-layers.retweet-button:hover > .retweet-circle-icon{
  opacity: 100%;
  transition: all 0.2s;
}

.retweet-circle-icon{
  opacity: 0%;
}

.fa-layers.bookmark-button:hover > .bookmark-icon{
  color:#1da1f2;
  transition: all 0.2s;
}

.fa-layers.bookmark-button:hover > .bookmark-circle-icon{
  opacity: 100%;
  transition: all 0.2s;
}

.bookmark-circle-icon{
  opacity: 0%;
}

.bookmark-icon:hover{
  display: inline-block;
  background-color: rgba(29, 161, 242, 0.1) ;
  box-shadow: 0 0 0 10px rgba(29, 161, 242, 0.1);
  border-radius: 50px 50px 50px 50px;
  transition: all 0.2s;
  color: #1da1f2;
}

.fa-layers.heart-button:hover > .heart-icon{
  color: rgb(224, 36, 94);
  transition: all 0.2s;
}

.fa-layers.heart-button:hover > .heart-circle-icon{
  opacity: 100%;
  transition: all 0.2s;
}

.heart-circle-icon{
  opacity: 0%;
}

.like-counter{
left: 200%;
top: -10%;

display: inline-block;
position: relative;
text-align: right;
}

.retweet-counter{
  left: 275%;
  top: -10%;
  display: inline-block;
  position: relative;
  text-align: right;
  }

.reply-counter{
  left: 250%;
  top: -10%;
  display: inline-block;
  position: relative;
  text-align: right;
  }

  .reply-line{
    background-color: lightslategray;
    width: 2px;
    height: 6rem;
    margin-left: 26px;
    margin-top: 5px;
    align-self: center;
  }

  .tweet__modal-content {
    margin-bottom: 20px;
  }

  .replying-to{
    margin-top: 3rem;
  }

  .replying-to span{
    color: #1da1f2;
  }


  .tweet-container.__focused{
    border-bottom: 1px solid lightslategray;
    padding: 15px 15px 20px 15px;
    text-align: left;
    cursor: pointer;
  }

  .tweet-container.__focused .tweet-content .tweet-avatar .reply-line{
    display:none;
    
  }

  .tweet-container.__focused .tweet-content{
    font-size: 1.1em;
  }

  .tweet-container.__focused .tweet-body{
    font-size: 1.4em;
   
  }

  .tweet-container.__focused .time-tweeted{
    margin-top: 5%;
    
    font-size: 0.7em;
  }

  .tweet-container.__focused .tweet-stats{
   display: flex;
   flex-direction: row;
   margin-top: 3%;
   justify-content: flex-start;
   border: 1px solid lightslategray;
   border-left:none;
   border-right: none;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-bottom: 4%;
  }

  .tweet-container.__focused .tweet-stats.__none{
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
  }

  .tweet-container.__focused .tweet-stats div{
    color: lightslategray;
    margin-left: 1.4%;
    padding-right: 4%;
  }

  .tweet-container.__focused .tweet-stats span{
    color: white;
  }


  .creator-credentials:hover > .creator-name{
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .tweet-retweeted{
    color: lightslategray;
    margin-left: 7%;
    margin-bottom: 1%;
  }

  .tweet-retweeted span{
    padding-left:1%;
  }

  .fa-layers.close-button{
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 5%;
  }
  .close-circle-icon{
    opacity: 0%;
  }
  .fa-layers.close-button:hover > .close-circle-icon{
    opacity: 100%;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .tweet-mentions{
    margin-bottom: 1%;
    color: lightslategray;
  }
  .tweet-mentions span{
    color: #1da1f2;
  }


  .replying-to-link:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
  }
