.user-container{
  border-bottom: 1px solid lightslategray;
  padding: 15px 15px 20px 15px;
  text-align: left;
  cursor: pointer;

  
}

.user-container:hover{
  background-color: #253341;
  transition: all 0.2s;
}

.user-details{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100px;

}

.user-text{
  width: 92%;
  margin-left: 2%;
}


.user-bio{
  padding-top: 1%;
}


.user-text .creator-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-follows-you{
  font-size: 14px;
  margin-left: 4%;
  background-color: #253341;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  white-space: nowrap;
}