.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex: 1;
}

.center-view{
border: 1px solid lightslategray;
flex: 1;
order: 2;
color: white;  
}